*{
    margin:0;
    padding:0;
}

header{
    z-index: 999;
    top:0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    background-color:rgb(253, 253, 253);
    width:100%;
    height:9vh;
    box-shadow: 10px 10px 30px 10px rgba(39, 39, 42, 0.2);
}

header img{
    margin-left: 5vw;
}

nav{
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-center, .nav-right{
    display: flex;
    list-style: none;
    padding: 0;
}